.container-fluid
  .row
    .col-md-2
      = render partial: 'sidebar'

    .col-md-10

      = new_pm_button

      .panel.panel-default
        .panel-heading= t('.private_messages')
        %table.table
          %thead
            %tr
              %td=t('.date')
              %td=t('.subject')
              %td=t('.from')
          %tbody
            - @private_messages.each do |message|
              %tr
                - html_class = 'unread' if message.unread?
                %td=link_to message.created_at, private_message_url(message), class: html_class
                %td=link_to message.subject, private_message_url(message), class: html_class
                %td=link_to message.body, private_message_url(message), class: html_class