.draw-navigation {
  list-style: none;
  margin: 0;

  li {
    float: left;
    margin: 0 10px 0 0;
  }
}

#navigation {
  clear: both;
}

.topic-list-container {
  background-color: #f7f7f7;
  padding: 6px;

  a {
    color: #000;
  }

  .box {
    padding: 4px 6px;
    border: 1px solid #DFDFDF;
    background-color: #fff;

    .topic-row {
      .info {
        font-size: 11px;
      }
    }
  }
}