.topic-list-container {
  background-color: #f7f7f7;
  padding: 6px;

  a {
    color: #000;
  }

  .box {
    padding: 4px 6px;
    border: 1px solid #DFDFDF;
    background-color: #fff;

    .topic-row {
      margin-bottom: 10px;

      .info {
        font-size: 11px;
      }

      .topic_author {
        font-size: 11px;
      }
    }

  }
}
