.profile-popover {
  font-size: 11px;
  color: #000;

  .second_row {
    margin-left: 10px;
  }

  .pm {
    margin: 16px 0;
  }
}

.topic_posts_info {
  background-color: #d3daed;
  color: #fff;
  font-size: 11px;
  height: 38px;
  line-height: 38px;
}

.post-list-container {
  background-color: #f7f7f7;

  .box {
    margin: 12px;
    border: 1px solid #DFDFDF;
    background-color: #fff;

    .user_profile_popover {
      cursor: pointer;
    }

    .post_from_user_login {
      .user_profile_popover {
        position: relative;
        z-index: 100;
        padding: 5px;
      }

      font-weight: bold;
      color: #c1ccf5;
    }

    .post_from_user_login .login:hover {
      color: #fff;
    }

    .post-header {
      height: 36px;
      line-height: 36px;
      margin: 0;
      background-color: #4e61a8;

      .post_number a {
        color: #fff;
        font-size: 9px;
      }
    }

    .created_at {
      margin-top: 10px;
      font-size: 11px;
      color: #a4a4a4;
    }

    .post_attachment {
      max-width: 400px;
    }

    .quote {
      border: 1px solid black;
    }

    .bbqoute {

      .quote_info {
        font-weight: bold;
        font-size: 11px;
      }

      margin-right: 10px;
      border: 1px solid gainsboro;
      border-radius: 25px;
      padding: 10px 20px 10px 20px;
    }

    .user-title {
      margin-top: 10px;
      font-size: 11px;
      text-align: center;
    }

    img.user-avatar {
      width: 100px;
    }

    .user-avatar {
      text-align: center;
    }

    .user-posts-count {
      font-size: 11px;
      text-align: center;
      margin-top: 8px;
    }

    .user-reg-date {
      font-size: 11px;
      text-align: center;
      margin-top: 4px;
      margin-bottom: 10px;
    }
  }
}

#new_topic {
  .name, .description {
    width: 50%;
  }
}

#quick_answer {
  margin: 26px 0;
}
