#forum_header {
  overflow: hidden;
}


.category-header,
.forum-header {
  margin-top: 14px;
  height: 34px;
  line-height: 31px;
  padding-left: 20px;
  color: #fff;
  font-weight: bold;
  background-color: #89A4C1;
}

.category-forums-container {
  background-color: #f7f7f7;
  padding: 6px;

  .box {
    padding: 4px 6px;
    border: 1px solid #DFDFDF;
    background-color: #fff;

    .forum-row {
      margin-top: 10px;

      .forum-info {
        font-size: 11px;
      }

      .forum-last-message-info {
        font-size: 11px;
      }

    }
  }
}