#sign_in.container-fluid
  .col-md-6.col-md-offset-3.text-center
    %h2= t('.forgot_password_head')

    =form_for :user, :url => forgot_password_path do |f|
      =f.label :email, t('.email')
      =f.text_field :email

      .center
        =f.submit t('.reset_password'), class: 'btn btn-sm btn-primary'