.col-md-6
  = "#{t('.welcome_to_forum')}, #{current_user.login}"

.col-md-6
  .btn-group.pull-right{ role: 'group' }
    =link_to '#', class: 'btn btn-sm btn-default' do
      =t('.private_messages')
      %span.glyphicon.glyphicon-envelope
    =link_to unread_topics_path, class: 'btn btn-sm btn-default' do
      =t('.new_forum_messages')
      %span.glyphicon.glyphicon-eye-open
    =link_to '#', class: 'btn btn-sm btn-default' do
      =t('.user_profile')
      %span.glyphicon.glyphicon-user
    = link_to logout_path, class: 'btn btn-sm btn-default' do
      =t('.logout')
      %span.glyphicon.glyphicon-log-out
