<!DOCTYPE html>
<html>
<head>
  <title>MyForum</title>
  <%= stylesheet_link_tag    "my_forum/application", media: "all" %>
  <%= javascript_include_tag "my_forum/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
