.row.post-header
  .col-md-12
    =post.user.try(:login)
.row
  .col-md-2
    = render 'user_info', post: post
  .col-md-10
    .created_at= t('.sent', datetime: post.created_at)
    %br
    = format_post_text(post)