.container-fluid
  .row
    .col-md-12
      #topic_header
        = render 'topic_header', topic: @topic
  .row
    .col-md-12
      #posts
        .row
          .col-md-12.topic_posts_info
            =t('.messages_in_topic', count: @topic.posts.count)
        .row.post-list-container
          .box
            - @topic_posts.each do |post|
              = render 'post', post: post

        .row
          = will_paginate @topic_posts

      - if can_quick_answer?(@topic)
        #quick_answer
          = render 'quick_answer', forum: @forum, topic: @topic
